[Unit]
Description=Frontend für den Zähler
After=zaehler.service

[Service]
User=root
WorkingDirectory=/opt/zaehler
ExecStart=/home/pi/.virtualenvs/zaehler/bin/python -m streamlit run Gaszähler.py
Restart=always

[Install]
WantedBy=multi-user.target